<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="warn">
	<Properties>
		<Property name="loggerLayout">%d{yyyy-MM-dd HH:mm:ss.SSS} %p %msg%n%ex{0}%n</Property>
	</Properties>

	<Appenders>
		<Async name="asyncLogger">
			<AppenderRef ref="fileAppender" />
			<AppenderRef ref="consoleAppender" level="AUDIT" />
		</Async>
		<RollingFile name="fileAppender" fileName="easy-smpc.log"
			filePattern="easybackend-%i.log">
			<Policies>
				<SizeBasedTriggeringPolicy size="50MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
			<PatternLayout>
				<pattern>${loggerLayout}</pattern>
			</PatternLayout>
		</RollingFile>

		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>${loggerLayout}</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.bihealth.mi.easybackend" level="debug" additivity="false">
			<appender-ref ref="asyncLogger" level="debug" />
			<appender-ref ref="console" />
		</Logger>
		<Root level="warn" additivity="false">
			<appender-ref ref="asyncLogger"/>
		</Root>
	</Loggers>
</Configuration>